[submodule ".vim/pack/plugins/start/lightline"]
	path = .vim/pack/plugins/start/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule ".vim/pack/plugins/start/vim-rainbow"]
	path = .vim/pack/plugins/start/vim-rainbow
	url = https://github.com/frazrepo/vim-rainbow
[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/colors/opt/onedark.vim"]
	path = .vim/pack/colors/opt/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
[submodule ".vim/pack/colors/opt/vim-monokai"]
	path = .vim/pack/colors/opt/vim-monokai
	url = https://github.com/crusoexia/vim-monokai.git
